nav {
  width: 204px;
}

p {
  margin: 0 1rem;
}

.menu--container {
  display: flex;
  margin: 0 1rem;
  padding: 8px;
  border-radius: 10px;
  align-items: center;
  text-decoration: none;
  color: black;

  &:hover {
    background-color: rgb(184, 184, 184);
  }
  &:active {
    background-color: rgb(213, 213, 213);
  }
}
