.navbar--left {
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background-color: #ffffff;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 12px;
  }

  &:hover {
    &::-webkit-scrollbar-thumb {
      background-color: #9b9b9b;
    }
  }
}

.navbar--wrapper {
  padding-top: 10px;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  bottom: 0;
}

.menu--container {
  margin: 0;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.nav--container {
  display: none;
}

@media (min-width: 769px) {
  .navbar--left {
    left: 0;
    z-index: 100;
  }

  .navbar--wrapper {
    display: flex;
    flex: 1;
    flex-basis: 1e-9px;
    flex-direction: column;
    font-size: 16px;
  }

  .nav--container {
    display: flex;
    flex-direction: column;
    border-top: 1px solid lightgrey;
  }

  .nav--subtitle {
    display: inline-block;
    margin: 0 1rem;
    padding: 8px;
    text-decoration: none;
    font-weight: 600;
    color: black;
  }

  .menu--container {
    display: flex;
    width: auto;
    flex-direction: row;
    margin: 0 1rem;
    padding: 8px;
    border-radius: 10px;
    align-items: center;
    text-decoration: none;
    color: black;

    &:hover {
      background-color: rgb(184, 184, 184);
    }
    &:active {
      background-color: rgb(213, 213, 213);
    }
  }

  .menu--item {
    margin: 0 0.5rem;
  }
}
